<h1>My Articles</h1>
<% @articles.each do |article| %>
 <p> <%= article.title %> <%= link_to "read", "/articles/#{article.id}", method: :get %> </p>
<% end %>

<%= link_to "Create Article",  new_article_path %>